/* CSS Document */
/*
Total width: 200+20+720=940;
Total height: 125+10+220+10+1000=1365；
*/
#navigation{
	height:125px;
	width:940px;
	}

#divPanelPanier{
	width:185px; 	/*width + padding-left + padding right = 200px*/
	height:220px;
	background-color:#FFF;
	float:left;
	margin-top:10px;
	padding-left:5px;
	padding-right:10px;
	/*	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;*/
	font-size:14px;
	font-family:Lucida Calligraphy;
	background:url(../View/images/new_bg_Panier.png);
	font-family:Arial, Helvetica, sans-serif;
	}
	
#divPanelPanier p{
	text-align:center;
	font-size:30px;
	margin:20px auto;
	font-weight:bold;
	}
	
#divPanelPanier img{
	margin:10px 0px 0px 15px;
	}
	
#divTotalPrice{
	padding-left:15px;
	}
	
#divCommand{
	width:740px;
	height:220px;
	float:left;
	margin-top:10px;
	margin-left:0px;
	overflow:auto;
	background:url(../View/images/new_bg_Panier.png);
	}
	
/*#titlePic img{
	width:100%;
	height:100%;
	margin-left:10px;
}*/
	

/*#divCommand{
	height:1000px;
	width:200px;
	float:left;
	margin-top:10px;
	overflow:auto;
	background-color:#FFF;
	}*/

#divMenu{
	/*height:1000px;*/
	width:720px;
	float:left;
	margin-top:10px;
	margin-left:0px;
	text-align:center;
	overflow:auto;
	color:#333;
	}
	
#tabCommand{
	width:100%;
	border-left-style:double;
	}
	
#divTreeNav{
	height:1000px;
	width:220px;
	float:left;
	margin-top:10px;
	overflow:auto;
	background-color:#CCC
	}
	
#tabMenu{
	width:100%;
	table-layout: fixed;
	}

.imgItemCommand{
	width:20px;
	height:20px;	
	}
	
.item{
	padding-bottom:20px;
	vertical-align:top;
}
	
.item label{
	text-align:center;
	/*color:#999;*/
	font-size:13px;
	font-family:Arial, sans-serif;
	}
	
.item label div{
	margin:0 auto;
	margin-top:10px;
	width:70px;
	color:white;
	background-color:#999;
	font-size:16px;
	font-family:"Courier New", Courier, monospace;
	}

.btnQuantite{
	width:20px;
	height:20px;
	border-radius: 20px;
	padding-left:5px;
	margin-right:5px;
	background-color:#999;
	}
	
#tbQuantite{
	width:15px;
	margin-right:5px;
	}
	
#divScreenLocker{
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;	/*transparent*/
	display:none;
	float:left;
	}
	
.divEmailForm{
	position:absolute;
	height:350px;
	z-index:3;
	margin-top:-150px;
	margin-left:100px;
	/*left:expression((document.body.offsetWidth-540)/2);
	top:expression((document.body.offsetHeight-170)/2);*/
	background-color:#FFF;
	color:#999;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	display:none;
	}
	
.divFormLocker{
	text-align:center;
	vertical-align:middle;
	
	position:absolute;
	height:350px;
	width:380px;
	z-index:4;
	margin-top:-150px;
	margin-left:100px;
	/*left:expression((document.body.offsetWidth-540)/2);
	top:expression((document.body.offsetHeight-170)/2);*/
	background-color:black;
	opacity: 0.8;	/*transparent*/
	display:block;
	}

.formTitleFont{
	font-size: 17px;
	padding-left:30px;
	}

/*size of the images of items*/
.twoXthree{
	width:100px;
	height:150px;
	}
.fiveXthree{
	width:250px;
	height:150px;	
	}	
.threeXtwo{
	width:150px;
	height:100px;	
	}		
.sixXhalf{
	width:600px;
	height:50px;	
	}		
.sixXtwo{
	width:300px;
	height:100px;	
	}
.sixXthree{
	width:300px;
	height:150px;	
	}
.sixXfour{
	width:300px;
	height:200px;	
	}	
.sixXfive{
	width:300px;
	height:250px;	
	}
.sixXsix{
	width:300px;
	height:300px;	
	}	
.sevenXthree{
	width:700px;
	height:350px;	
	}	
/*size of the images of items*/
